@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Open+Sans:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
}

.container {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  gap: 2px;
  margin: 1rem;
}

.container-card {
  padding: 1.1rem;
  align-items: flex-end;
  background-color: #4a72bd;
  border-radius: 0.3rem;
  box-shadow: 0 0 11px 8px #294881;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0.7rem;
  width: 300px;
  height: 230px;
  transition-property: transform, box-shadow;
}

.container-card:hover {
  transform: translateX(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container-card img {
  align-self: flex-start;
  border-radius: 10px;
  display: flex;
  width: 150px;
}
